@charset "utf-8";
/* CSS Document */


html, body
{
	height:100%;
	margin:0px;
	padding:0px;
}

ul, li, a
{
	margin-top:7px;
	padding-right:9px;
	text-decoration:none;
	list-style:none;
	display:inline-block;        
}

form
{
	float:left;
	height:100px;
	z-index:99;
}

a:visited, a:active
{
    color:#000000;
}

a:hover
{
    color: #CC0000
}

#map_canvas
{
	width:100%;
	height:100%;	
}

#overlay_top
{
	background-image:url(../images/overlay.png);
	background-repeat:repeat-y repeat-x;
	width:100%;;
	height:150px;
	top:0px;
	position:absolute;
	z-index:99;
}

#overlay_left
{
	background-image:url(../images/overlay.png);
	background-repeat:repeat-y repeat-x;
	height:100%;
	width:300px;
	top:0px; /*or 150 if I don't want double layers in the corners*/
	position:absolute;
	z-index:99;
}

#overlay_right
{
	background-image:url(../images/overlay.png);
	background-repeat:repeat-y repeat-x;
	height:100%;;
	width:300px;
	top:0px; /*or 150 if I don't want double layers in the corners*/
	right:0px;
	position:absolute;
	z-index:99;
}

#overlay_bottom
{
	background-image:url(../images/overlay.png);
	background-repeat:repeat-y repeat-x;
	width:100%;;
	height:150px;
	bottom:0px;
	position:absolute;
	z-index:99;
}

#wrapper 
{
	height:100%; 
	position:relative; 
}

#menu
{
	font-family:Verdana, Geneva, sans-serif;
	font:Verdana;
	font-size:15px;
	color:#000000;
	position:absolute;
	bottom:11px;
	left:365px;
	margin:0px;
	padding:0px;	
	width:330px;
	height:40px;
	
}

#logo
{
	background-image:url(../images/where.png);
	width:586px;
	height:83px;
	margin-top:87px;
	margin-left:36px;
	overflow:visible;
}

#logo_about
{
	background-image:url(../images/where.png);
	width:586px;
	height:83px;
	margin:auto;
}

.about
{
	background-color:#ffffff;	
}

#about_info
{
	width:600px;
	margin-left:30px;
}

 #options
{
	display:none;
	position:absolute;
	left:610px;
	top:0px;
	bottom:6px;
	width:500px;
}

#satellite, #road
{
	padding-left:3px;
	font-family:Verdana, Geneva, sans-serif;
}

#road
{
	text-decoration:underline;	
	font-family:Verdana, Geneva, sans-serif;
}

#venue
{
    width: 800px;
    text-align: center;
    font-family:sans-serif;
    font-size: 24px;
    color:#CC0000;    
}

#venue ul li{
    float:left;
    text-decoration:none;
    width:350px;
    margin-left:5px;
    margin-right:5px;
}

#comments
{
    height:100%;
    width:800px;
    text-align:center;
}

#comments ul li{
    float:left;
    text-decoration:none;
    width:370px;        
}

.comment{
    border:3px solid #000000;
    border-top:none;
    margin-top:5px;    
}

.comment_part
{
    
    text-align: center;
    background-color:#f7f7f7;
    border: 1px solid #000000;
    border-top:3px solid #000000;
    margin-top:6px;
    
}

#container
{
    height: auto;
    max-height:400px;
}
.fb{    
    width:600px;
    margin-left:100px;
}